$background-image:url(/10921-marmol.png);
$font-dietics:'Nunito', sans-serif;
$shadow-box:7px 13px 37px #000;
$mapaColor:(
    color-gris:black,
    color-blanco:white,
);
@mixin footer ($display,$liststyle,$textalign,$wordspacing,$justifycontent){
    display: flex;
    list-style: none;
    text-align: center;
    word-spacing: 4cm;
    justify-content: space-evenly;
}
#grilla{
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 0;
}
.parallax{
    background-image:$background-image;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.encabezado{
    margin-top: 10px;
    text-align: center;
    color:map-get($mapaColor,color-gris);
    font-family:$font-dietics;
    text-transform: uppercase;
    font-size: large;
    background-attachment: fixed;
   
}
.contenedor-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    background-image: url(/10921-marmol.png);
    text-transform: uppercase;
    border-radius: 0.5cm;
    color:map-get($mapaColor,color-gris);
    border:solid lightgray;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(71, 66, 67);
    transition: color 0.3s;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
        &:hover{
        box-shadow: 10px 13px 37px rgb(78, 75, 75);
        color:black;
        font-size: 15px;
        cursor: pointer;
    }
}
.card{
    background-image: url(/10921-marmol.png);
    border: 1px solid rgb(209, 202, 174);
    box-shadow: 7px 13px 37px black;
    align-items: center;
    margin-left: auto;
   justify-content: space-evenly;
}
.bordes-redondeados{
    border-radius: 0.5cm;
    background-attachment: fixed;
    width:500px;
    background-size: contain;
 }
.card-title{
    font-family: 'Nunito', sans-serif;
    color:map-get($mapaColor,color-gris);
    font-weight:bolder;
}
.card-description{
    @extend.card-title;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.info-nutricional{
    list-style: none;
}
.texto-izquierdo{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
.card-button{
    @extend.card-title;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}
.container{
    @extend.card-title;
    display: flex;
    justify-content: space-evenly;
}
.btn1{
    width: 5cm;
    height: 1.5cm;
    border: none;
    margin-bottom: 10px;
    color:map-get($mapaColor,color-gris);
    background-image: url(/10921-marmol.png);
    border: solid rgb(209, 202, 174);
    border-radius: 0.5cm;
    box-shadow: inset 0 0 0 0 rgb(71, 66, 67);
    transition: ease-out 0.3s;
    outline: none;
        &:hover{
            box-shadow: inset 5cm 0 0 0 rgb(153, 13, 41);
            cursor: pointer;
        }
}
.footer{
 @include footer(flex,none ,center ,4cm ,space-evenly )
}
.footer1{
    @extend.footer;
    width: 100%;
}
.font-p{
    color:map-get($mapaColor,color-gris);
    font-family: $font-dietics;
    margin-right: 10px;
    margin-left: 10px;
}
.font{
    @extend.font-p;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
}
.form-register{
    box-sizing: border-box;
    width: 500px;
    background-color: rgb(100, 105, 114);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 0.2cm;
    font-family:$font-dietics;
    color:map-get($mapaColor,color-blanco);
    align-items: center;
    box-shadow: $shadow-box;
    text-align: center;
}
.titulo-formulario{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family:$font-dietics;
    color:map-get($mapaColor,color-blanco);
    text-align: center;
    text-transform: uppercase;
}
.titulo-formulario1{
    @extend.titulo-formulario;
    color:map-get($mapaColor,color-gris);
}
.controls{
    width: 90%;
    background: rgb(56, 53, 53);
    padding: 10px;
    border-radius: 0.2cm;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family:$font-dietics;
    color:map-get($mapaColor,color-blanco);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
        &:focus{
            font-size: 18px;
            width: 95%;
        }
}
.form-btn{
    width: 75%;
    color:map-get($mapaColor,color-blanco);
    border: solid white;
    padding: 12px;
    margin: 5px;
    font-size: 12px;
    color:map-get($mapaColor,color-gris);
    border-radius: 0.2cm;
    cursor:pointer;
    transition: all 0.7s;
    outline: none;
        &:hover{
            box-shadow: inset 10cm 0 0 0 rgb(155, 143, 143);
            cursor: pointer;
         }
}
.titulo-gracias{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color:map-get($mapaColor,color-gris);
    text-align: center;
    width: 80%;
}
.descripcion-recomendaciones{
    color:map-get($mapaColor,color-gris);
    font-family: 'Nunito', sans-serif;
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 18px;
}
.form-register-recomendaciones{
    box-sizing: border-box;
    width: 500px;
    background-color: rgb(100, 105, 114);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 0.2cm;
    font-family: 'Nunito', sans-serif;
    color: map-get($mapaColor,color-blanco);
    align-items: center;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
    justify-content: center;
}
.titulo-formulario-recomendaciones{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: map-get($mapaColor,color-blanco);
    text-align: center;
    text-transform: uppercase;
}
.titulo-formulario1{
    @extend.titulo-formulario-recomendaciones;
    color:map-get($mapaColor,color-gris);
    text-transform: lowercase;
}
.listas{
    list-style: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color:map-get($mapaColor,color-blanco);
    text-align: center;
    background-color: rgb(56, 53, 53);
    border-radius: 0.2cm;
}
.card-title-qs{
    border-radius: 0.5cm;
    color:map-get($mapaColor,color-gris);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 1000;
}
.card-text-qs{
    font-family: 'Nunito', sans-serif;
    color:map-get($mapaColor,color-gris);
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
}
.contenedor-fotos{
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 0.5cm;
    border: 2px solid black;
    box-shadow: 7px 13px 37px gray;
    width: 80%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    padding: 1cm;
    align-items: center;
}
.fotos{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1cm;
}
.items-fotos img{
    width: 300px;
    gap: 1rem;
    border-radius: 0.5cm;
    box-shadow: 7px 13px 37px #000;
}
.items-fotos{
    display: flex;
    gap: 1rem;
    float: right;
    text-align: left;
    border: 1px solid map-get($mapaColor,color-gris);
    box-shadow: 7px 13px 37px #000;
    border-radius: 0.5cm;
    padding: auto;
}
.font-p-macros{
    @extend.font-p;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}
@media only screen and (max-width:900px){
    .footer1{
        display: flex;
        flex-direction: row;
        justify-content: center space-between;
        padding-left: 0;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center space-between;
        padding-left: 0;
    }
}
@media screen and(max-width:480px) {
    .form-register, .form-register-recomendaciones{
        width: auto;
        margin-left: 20px;
        margin-right: 20px; 
        padding: auto;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center space-between;
        padding-left: 0;
    }
}