#grilla {
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 0;
}
.parallax{
    background-image: url(10921-marmol.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.encabezado{
    text-align: center;
    color:gray;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: large;
    background-attachment: fixed;
}
.contenedor-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    background-image: url(10921-marmol.png);
    text-transform: uppercase;
    border-radius: 0.5cm;
    color:gray;
    border:solid lightgray;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(71, 66, 67);
    transition: color 0.3s;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
}
.menu:hover{
    box-shadow: 10px 13px 37px rgb(78, 75, 75);
    color:black;
    font-size: 15px;
    cursor: pointer;
}
.card{
    background-image: url(10921-marmol.png);
    border: solid white;
    box-shadow: 7px 13px 37px gray;
    align-items: center;
    margin-left: auto;
   justify-content: space-evenly;
}
.bordes-redondeados{
    border-radius: 0.5cm;
    background-attachment: fixed;
    width:500px;
    background-size: contain;
 }
.card-title{
    font-family: 'Nunito', sans-serif;
    color:gray;
}
.card-description{
    font-family: 'Nunito', sans-serif;
    color:gray;
    align-items: center;
}
.card-button{
    color:gray;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}
.container{
    font-family: 'Nunito', sans-serif;
    color:gray;
    display: flex;
    justify-content: space-evenly;
}
.btn1{
    width: 5cm;
    height: 1.5cm;
    border: none;
    color:gray;
    background-image: url(10921-marmol.png);
    border-radius: 0.5cm;
    box-shadow: inset 0 0 0 0 rgb(71, 66, 67);
    transition: ease-out 0.3s;
    outline: none;
}
.btn1:hover{
    box-shadow: inset 5cm 0 0 0 rgb(153, 13, 41);
    cursor: pointer;
}
.footer{
    display: flex;
    list-style: none;
    text-align: center;
    word-spacing: 4cm;
    justify-content: space-evenly;
}
.form-register{
    box-sizing: border-box;
    width: 500px;
    background-color: rgb(100, 105, 114);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 0.2cm;
    font-family: 'Nunito', sans-serif;
    color: white;
    align-items: center;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
}
.titulo-formulario{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
}
.titulo-formulario1{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: gray;
    text-align: center;
}
.controls{
    width: 90%;
    background: rgb(56, 53, 53);
    padding: 10px;
    border-radius: 0.2cm;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}
.controls:focus{
    font-size: 18px;
    width: 95%;
}
.form-btn{
    width: 75%;
    background-color: gray;
    border: solid white;
    padding: 12px;
    margin: 5px;
    font-size: 12px;
    color: white;
    border-radius: 0.2cm;
    cursor:pointer;
    transition: all 0.7s;
    outline: none;
}
.form-btn:hover{
    box-shadow: inset 10cm 0 0 0 rgb(155, 143, 143);
    cursor: pointer;
}
.titulo-gracias{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: gray;
    text-align: center;
    width: 80%;
}
.descripcion-recomendaciones{
    color:gray;
    font-family: 'Nunito', sans-serif;
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 18px;
}
.form-register-recomendaciones{
    box-sizing: border-box;
    width: 500px;
    background-color: rgb(100, 105, 114);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 0.2cm;
    font-family: 'Nunito', sans-serif;
    color: white;
    align-items: center;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
    justify-content: center;
}
.titulo-formulario-recomendaciones{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.titulo-formulario1{
    font-size: 20px;
    margin-bottom: 20px;    
    font-family: 'Nunito', sans-serif;
    color: gray;
    text-align: center;
}
.listas{
    list-style: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(56, 53, 53);
    box-shadow: 7px 13px 37px #000;
    border-radius: 0.2cm;
}
.card-title-qs{
    border-radius: 0.5cm;
    color:gray;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    margin-bottom: 30px;
}
.card-text-qs{
    font-family: 'Nunito', sans-serif;
    color:gray;
    text-align: center;
}
.footer1{
    display: flex;
    list-style: none;
    text-align: center;
    word-spacing: 4cm;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4cm;
}
.contenedor-fotos{
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 0.5cm;
    border: 2px solid black;
    box-shadow: 7px 13px 37px gray;
    width: 80%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    padding: 1cm;
    align-items: center;
}
.fotos{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1cm;
}
.items-fotos img{
    width: 300px;
    gap: 1rem;
    border-radius: 0.5cm;
    box-shadow: 7px 13px 37px #000;
}
.items-fotos{
    display: flex;
    gap: 1rem;
    float: right;
    text-align: left;
    border: 1px solid gray;
    box-shadow: 7px 13px 37px #000;
    border-radius: 0.5cm;
    padding: auto;
}
.font{
    color: gray;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: underline;
}
.font-p{
    color:gray;
    font-family: 'Nunito', sans-serif;
}
.font-p-macros{
    color:gray;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}
@media only screen and (max-width:1000px){
    .contenedor-menu{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content:center space-evenly;
        gap: 0.5cm;
        font-size: small;
        padding: 0.5cm;
        margin:0;
        align-items: center;
    }
    .menu{
       font-size: small;
       align-items: center;
    }
   .footer1{
        display: flex;
        flex-direction: row;
        justify-content: center space-between;
        padding-left: 0;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center space-between;
        padding-left: 0;
    }
    .font{
        color: gray;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        text-decoration: underline;
        align-items: center;
        margin: 0.5cm;
        flex-wrap: wrap;
    }
    .font-p{
        color:gray;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        flex-wrap: wrap;
        padding: 0.2cm;
    }
    .contenedor-fotos{
        display: flex;
        justify-content: center;
        background-size: contain;
        border-radius: 0.5cm;
        border: 1px solid black;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 7px 13px 37px gray;
        width: 300px;
        padding: auto;
        flex-wrap: wrap;
        grid-template-columns: 400px;
    }
    .fotos{
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 1cm;
    }
    .items-fotos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        float: right;
        text-align: left;
        border: 1px solid gray;
        box-shadow: 7px 13px 37px #000;
        border-radius: 0.5cm;
        padding: auto;
        flex-wrap: wrap;
    }
}