#grilla {
  display: grid;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  margin: 0; }

.parallax {
  background-image: url(/10921-marmol.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.encabezado {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: large;
  background-attachment: fixed; }

.contenedor-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.menu {
  background-image: url(/10921-marmol.png);
  text-transform: uppercase;
  border-radius: 0.5cm;
  color: black;
  border: solid lightgray;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #474243;
  transition: color 0.3s;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px; }
  .menu:hover {
    box-shadow: 10px 13px 37px #4e4b4b;
    color: black;
    font-size: 15px;
    cursor: pointer; }

.card {
  background-image: url(/10921-marmol.png);
  border: 1px solid #d1caae;
  box-shadow: 7px 13px 37px black;
  align-items: center;
  margin-left: auto;
  justify-content: space-evenly; }

.bordes-redondeados {
  border-radius: 0.5cm;
  background-attachment: fixed;
  width: 500px;
  background-size: contain; }

.card-title, .card-description, .card-button, .container {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: bolder; }

.card-description {
  align-items: center;
  margin-right: 10px;
  margin-left: 10px; }

.info-nutricional {
  list-style: none; }

.texto-izquierdo {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px; }

.card-button {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px; }

.container {
  display: flex;
  justify-content: space-evenly; }

.btn1 {
  width: 5cm;
  height: 1.5cm;
  border: none;
  margin-bottom: 10px;
  color: black;
  background-image: url(/10921-marmol.png);
  border: solid #d1caae;
  border-radius: 0.5cm;
  box-shadow: inset 0 0 0 0 #474243;
  transition: ease-out 0.3s;
  outline: none; }
  .btn1:hover {
    box-shadow: inset 5cm 0 0 0 #990d29;
    cursor: pointer; }

.footer, .footer1 {
  display: flex;
  list-style: none;
  text-align: center;
  word-spacing: 4cm;
  justify-content: space-evenly; }

.footer1 {
  width: 100%; }

.font-p, .font, .font-p-macros {
  color: black;
  font-family: "Nunito", sans-serif;
  margin-right: 10px;
  margin-left: 10px; }

.font {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 30px; }

.form-register {
  box-sizing: border-box;
  width: 500px;
  background-color: #646972;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border-radius: 0.2cm;
  font-family: "Nunito", sans-serif;
  color: white;
  align-items: center;
  box-shadow: 7px 13px 37px #000;
  text-align: center; }

.titulo-formulario, .titulo-formulario1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.titulo-formulario1 {
  color: black; }

.controls {
  width: 90%;
  background: #383535;
  padding: 10px;
  border-radius: 0.2cm;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s; }
  .controls:focus {
    font-size: 18px;
    width: 95%; }

.form-btn {
  width: 75%;
  color: white;
  border: solid white;
  padding: 12px;
  margin: 5px;
  font-size: 12px;
  color: black;
  border-radius: 0.2cm;
  cursor: pointer;
  transition: all 0.7s;
  outline: none; }
  .form-btn:hover {
    box-shadow: inset 10cm 0 0 0 #9b8f8f;
    cursor: pointer; }

.titulo-gracias {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
  width: 80%; }

.descripcion-recomendaciones {
  color: black;
  font-family: 'Nunito', sans-serif;
  margin-left: 1cm;
  margin-right: 1cm;
  font-size: 18px; }

.form-register-recomendaciones {
  box-sizing: border-box;
  width: 500px;
  background-color: #646972;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border-radius: 0.2cm;
  font-family: 'Nunito', sans-serif;
  color: white;
  align-items: center;
  box-shadow: 7px 13px 37px #000;
  text-align: center;
  justify-content: center; }

.titulo-formulario-recomendaciones, .titulo-formulario1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.titulo-formulario1 {
  color: black;
  text-transform: lowercase; }

.listas {
  list-style: none;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  background-color: #383535;
  border-radius: 0.2cm; }

.card-title-qs {
  border-radius: 0.5cm;
  color: black;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 1000; }

.card-text-qs {
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  list-style: none; }

.contenedor-fotos {
  display: flex;
  justify-content: center;
  background-size: contain;
  border-radius: 0.5cm;
  border: 2px solid black;
  box-shadow: 7px 13px 37px gray;
  width: 80%;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: 2cm;
  margin-right: 2cm;
  padding: 1cm;
  align-items: center; }

.fotos {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1cm; }

.items-fotos img {
  width: 300px;
  gap: 1rem;
  border-radius: 0.5cm;
  box-shadow: 7px 13px 37px #000; }

.items-fotos {
  display: flex;
  gap: 1rem;
  float: right;
  text-align: left;
  border: 1px solid black;
  box-shadow: 7px 13px 37px #000;
  border-radius: 0.5cm;
  padding: auto; }

.font-p-macros {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start; }

@media only screen and (max-width: 900px) {
  .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    padding-left: 0; }
  .footer, .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    padding-left: 0; } }

@media screen and (max-width: 480px) {
  .form-register, .form-register-recomendaciones {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto; }
  .footer, .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    padding-left: 0; } }
